
//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";
@import "scaffolding.less";

//
// Custom theme CSS
// --------------------------------------------------
.leaflet-container {
  width:  100%;
  height: 450px;
}

#maplist img {
    width: 32px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: @gray-lighter;
}
