
//
// Load core variables and mixins
// --------------------------------------------------

@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";
@import "../bootstrap/less/scaffolding.less";
@import "../bootstrap/less/utilities.less";

//
// Custom theme CSS
// --------------------------------------------------
.leaflet-container {
  width:  100%;
  height: 400px;
}

#maplist img {
    width: 32px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
#header {
  height: 60px;
  background-color: @gray-lighter;
}
#footer {
  height: 60px;
  background-color: @gray-lighter;

  #logos {
    list-style: none;
    margin: 0;

    li {
      float: left;
      padding: 0px 15px;

      img {
        width: 100px;
        height: 50px;
      }
    }
  }
}
