<div id="footer" class="container">
  <div class="pull-left">
    <img src="assets/images/logo_caue_24.png" alt="CAUE Dordogne" width="180" height="22" />
    <div class="address">
      2, place Hoche 24000 Périgueux<br />
      05 53 08 37 13 <a href="http://www.cauedordogne.com">www.cauedordogne.com</a>
    </div>
  </div>
  <div class="pull-right">
    <ul id="logos">
      <li><a href="http://makina-corpus.com"><img src="assets/images/logo_makinacorpus.png" alt="Logo Makina Corpus" width="57" height="29" /></a></li>
      <li><img src="assets/images/logo_cg24.png" alt="Logo Conseil Général Dordogne" width="75" height="26" /></li>
      <li><img src="assets/images/logo_aquitaine.jpg" alt="Logo Région Aquitaine" width="31" height="29" /></li>
      <li><img src="assets/images/logo_europe.png" alt="Logo Europe" width="44" height="29" /></li>
    </ul>
  </div>
</div>
