<div id="footer" class="container">
  <div class="pull-left">
    <img src="assets/images/logo_caue_24.png" alt="CAUE Dordogne" width="116" height="11" />
    <div class="address">
      2, place Hoche 24000 Périgueux<br />
      05 53 08 37 13 <a href="http://www.cauedordogne.com">www.cauedordogne.com</a>
    </div>
  </div>
  <div class="pull-right">
    <ul id="logos">
      <li><a href="http://makina-corpus.com" title="Makina Corpus"><img src="assets/images/logo_makinacorpus.png" alt="Logo Makina Corpus" width="57" height="29" /></a></li>
      <li><a href="http://www.cg24.fr/" title="Conseil général de la Dordogne"><img src="assets/images/logo_cg24.png" alt="Logo Conseil Général Dordogne" width="75" height="26" /></a></li>
      <li><a href="http://aquitaine.fr/" title="Région Aquitaine"><img src="assets/images/logo_aquitaine.jpg" alt="Logo Région Aquitaine" width="31" height="29" /></a></li>
      <li><a href="http://europa.eu" title="Union Européenne"><img src="assets/images/logo_europe.png" alt="Logo Europe" width="44" height="29" /></a></li>
    </ul>
  </div>
</div>
