<div id="footer" class="container">
  <div class="pull-left">
    <img src="assets/images/logo_caue_24.png" alt="CAUE Dordogne" style="height: 24px;" />
    <div class="address">
      2, place Hoche 24000 Périgueux<br />
      05 53 08 37 13 <a href="http://cauedordogne.com/">cauedordogne.com</a>
    </div>
  </div>
  <div class="disclaimer">
    Cet album est cofinancé par l'Union européenne.<br />L’Europe s'engage en Aquitaine avec le fonds européen de développement régional.
  </div>
  <div class="pull-right">
    <ul id="logos">
      <li><a href="http://makina-corpus.com" title="Makina Corpus"><img src="assets/images/logo_makinacorpus.png" alt="Logo Makina Corpus" style="max-height: 16px;" /></a></li>
      <li><a href="https://www.dordogne.fr" title="Conseil général de la Dordogne"><img src="assets/images/logo_cg24.svg" alt="Logo Conseil Général Dordogne" /></a></li>
      <li><a href="https://www.nouvelle-aquitaine.fr" title="Région Nouvelle Aquitaine"><img src="assets/images/logo_aquitaine.svg" alt="Logo Région Nouvelle Aquitaine" /></a></li>
      <li><a href="https://europa.eu/european-union/index_fr" title="Union Européenne"><img src="assets/images/logo_europe.svg" alt="Logo Europe" /></a></li>
    </ul>
  </div>
</div>
