<div id="header" class="container">
  <div class="pull-left">
    <a href="#" title="Retour à la page d'accueil" class="logo">
      <img src="assets/images/logo_album_territoire.png" alt="Album des territoires en Dordogne" />Album des territoires en Dordogne
    </a>
  </div>
  <div class="pull-right">
    <!-- Split button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle text" data-toggle="dropdown">Choisissez un territoire</button>
      <button type="button" class="btn btn-default dropdown-toggle color" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#1">Isle Vern Salembre en Périgord</a></li>
        <li><a href="#2">Coteaux de Sigoules</a></li>
        <li><a href="#3">Pays Thibérien</a></li>
        <li><a href="#4">CC Sarlat - Périgord noir</a></li>
        <li><a href="#5">CC du Pays de Villamblard</a></li>
        <li><a href="#6">Communauté d'Agglomération Bergeracoise (CAB)</a></li>
        <li><a href="#7">Montaigne Montravel et Gurson</a></li>
        <li><a href="#8">Vallée Dordogne - Nauze et Bessède</a></li>
        <li><a href="#9">Vallée de l'Homme</a></li>
        <li><a href="#10">Pays Jumilhac le Grand</a></li>
        <li><a href="#11">Mussidanais en Périgord</a></li>
        <li><a href="#12">Isle et Double</a></li>
        <li><a href="#13">CC de Saint-Aulaye</a></li>
        <li><a href="#14">Salignacois - Carluxais Terre de Fénelon</a></li>
        <li><a href="#15">Haut Périgord</a></li>
        <li><a href="#16">Dronne et Belle</a></li>
        <li><a href="#17">Nontronnais Périgord vert</a></li>
        <li><a href="#18">Causses et Rivières en Périgord</a></li>
        <li><a href="#19">Pays de Lanouaille</a></li>
        <li><a href="#20">Pays Vernois - Terroir de la Truffe</a></li>
        <li><a href="#21">Bastides Dordogne Périgord</a></li>
        <li><a href="#22">Portes Sud Périgord</a></li>
        <li><a href="#23">Domme - Pays du Châtaignier</a></li>
        <li><a href="#24">Le Grand Périgueux</a></li>
        <li><a href="#25">Ribéracois - Verteillacois et Dronne</a></li>
        <li><a href="#26">Causses et Vézère - Terrassonais - Pays d'Hautefort</a></li>
      </ul>
    </div>
  </div>
</div>
<nav class="navbar navbar-default" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav nav-tabs nav-justified">
      <li class="portrait"><a href="#">Portrait</a></li>
      <li class="geographie"><a href="#">Géographie</a></li>
      <li class="histoire"><a href="#">Histoire</a></li>
      <li class="urbanisme"><a href="#">Urbanisme</a></li>
      <li class="architecture"><a href="#">Architecture</a></li>
      <li class="atouts"><a href="#">Atouts</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
