<div id="header" class="container">
  <div class="pull-left">
    <a href="#" title="Retour à la page d'accueil" class="logo">
      <img src="assets/images/logo_album_territoire.png" alt="Album des territoires en Dordogne" />Album des territoires en Dordogne
    </a>
  </div>
  <div class="pull-right">
    <!-- Split button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle text" data-toggle="dropdown">Choisissez un territoire</button>
      <button type="button" class="btn btn-default dropdown-toggle color" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
      </ul>
    </div>
  </div>
</div>
<nav class="navbar navbar-default" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav nav-tabs nav-justified">
      <li class="portrait"><a href="#">Portrait</a></li>
      <li class="geographie"><a href="#">Géographie</a></li>
      <li class="histoire"><a href="#">Histoire</a></li>
      <li class="urbanisme"><a href="#">Urbanisme</a></li>
      <li class="architecture"><a href="#">Architecture</a></li>
      <li class="atouts"><a href="#">Atouts</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
