<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <!-- CAUE -->
    <link rel="stylesheet" href="assets/theme.css" />
  </head>
  <body>
    <div id="wrap" class="container">
      {% include header.html %}
      <div id="teasing">
        <h2>Un outil qui permet de découvrir le département dans sa diversité architecturale et sa mosaïque de paysages</h2>
        <p>Nous vous invitons à naviguer dans ces albums du territoire par les onglets thématiques dans lesquels vous trouverez un gisement de connaissances. Grâce à une entrée cartographique interactive, vous pourrez comprendre le territoire dans lequel vous vivez ou souhaitez habiter.</p><p>Bonne visite !</p>
      </div>
      <div id="map"></div>
      <div id="map-infos">Infos additionnelles</div>
      <div id="map-photos">Photos</div>
      {{ content }}
      {% include footer.html %}
    </div>
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Leaflet -->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <!-- Rusha.js https://github.com/chrisdickinson/git-object-hash -->
    <script src="assets/js/rusha.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/bootstrap/js/dropdown.js"></script>
    <!-- CAUE -->
    <script src="assets/js/leaflet.utils.js"></script>
    <script src="assets/js/views.js"></script>
  </body>
</html>
